<h1>プロフィール編集</h1>
<%= form_with(model: @user, url: user_profile_path, local: true, html: { method: :patch, class: '' }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.text_field :last_name %>
  <%= f.file_field :image %>
  <%= f.submit '更新', class: 'primary-btn' %>
<% end %>
